 
 <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/newyork"> New York  </a></li>
            <li><a href="/london"> London  </a></li>
            <li><a href="/florida"> FLorida  </a></li>
            <li><a href="/California"> California  </a></li>
</ul>