<html>
<body>

<h2> Hello {{welcomeMessage}} </h2>
<form method="POST" action="/toCity">
    <input type="text" name="interest" placeholder="Enter your Interest"></input>
    <button type="submit" value="Submit"> Submit</button>
</form>

Landing Page
  
</body>
</html>