<html>
<body>

<form method="GET" action="/toLanding">
    <input type="text" name="nm" placeholder="Enter your name"></input>
    <button type="submit" value="Sign-IN"> Sign-In</button>
</form>

Login Page

</body>
</html>